pipeline/IncrementalPipeline_MultiTable.json
{
	"name": "IncrementalPipeline_MultiTable",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Schema_and Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": {
							"value": "SELECT\ntable_schema AS schemaName,\ntable_name AS tableName\nFROM information_schema.tables\nWHERE table_schema = 'ecommerce';",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "LookupFromPostgres",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Schema_and Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Schema_and Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy From Postgres To ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_max_TimeStamp_Each_Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source",
									"query": {
										"value": "@concat(\n    'SELECT * FROM ', \n    item().SchemaName, \n    '.', \n    item().TableName, \n    ' f WHERE f.created_modified_date > (',\n    'SELECT last_processe_value::timestamp ',\n    'FROM metaschema.metadata ',\n    'WHERE tablename = ''', \n    item().TableName, \n    ''' )'\n)\n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureDataLakeStorage1",
											"type": "LinkedServiceReference"
										},
										"path": "logs"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LookupFromPostgres",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SinkToADLS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"Time": {
											"value": "@replace(substring(activity('Lookup_max_TimeStamp_Each_Table').output.firstRow.last_insert, 0, 26), 'T', '_')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup_max_TimeStamp_Each_Table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source",
									"query": {
										"value": "@concat('SELECT MAX(created_modified_date) as last_insert from ', item().SchemaName, '.', item().TableName)",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "LookupFromPostgres",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Lookup4",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy From Postgres To ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source",
									"query": {
										"value": "@concat(\n    'SELECT * FROM metaschema.metadata_fun(''', \n    replace(substring(activity('Lookup_max_TimeStamp_Each_Table').output.firstRow.last_insert, 0, 26), 'T', ' '), \n    ''', ''', \n    item().TableName, \n    ''');'\n)\n",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "LookupFromPostgres",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-11T07:44:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}